body {
	margin: 0px; padding: 0px;
	font-family: 隶书;
	background-color: 
}
p {
	font-size: 18px;
}
section h2 {
	line-height: 3em;
	margin: 0px;
	padding: 1em 0 0 3em;
}
section {
	background-color: white;
	border-bottom: 2px solod dark;
	box-shadow: 0px 4px 5px #aaa;
}
article {
	padding: 0em 1em;
}
#left {
	float: left;
	border: 1px solid #aaa;
	text-align: center;
	margin: 2em 2em 1em 2em;
	box-shadow: 2px 4px 5px #aaa;
	width: 15%;
}
#center {
	float: left;
	border: 1px solid #aaa;
	margin: 2em 2em 1em 2em;
	box-shadow: 2px 4px 5px #aaa;
	width: 25%;
}
.menu-vertical-list {
	background-color: white;
	padding: 0px;
	
}
.menu-vertical-list li {
	position: relative;
	list-style-type: none;
}
.menu-vertical-list li ul {
	position: absolute;
	width: 99%;
	left: 100%;
	top: 0.3em;
	display: none;
	border: 1px solid #aaa;
	transition: all 1s ease-in-out;
}
.menu-vertical-list li li {
	float: none;
	width: 100%;
}
.menu-vertical-list li li a {
	width: 100%;
}
.menu-vertical-list li a {
	text-decoration: none;
	display: block;
	padding: 0.3em 0px;
}
.menu-vertical-list li a:hover {
	background-color: #9ababa;
	color: white;
}
.menu-vertical-list li a:active {
	background-color: #9ababa;
	color: black;
}
.menu-vertical-list li:hover {
	background-color: #9ababa;
}
.menu-vertical-list li:hover > ul {
	display: block;
}