body {
	margin: 0px; padding: 0px;
	font-family: 隶书;
	background-color: #DADADA;
}
p {
	font-size: 18px;
}
section h2 {
	line-height: 3em;
	margin: 0px;
	padding: 0em 0 0 3em;
}
section {
	background-color: #DFFFDF;
	border-bottom: 2px solid dark;
	box-shadow: 0px 4px 5px #aaa;
}
article {
	padding: 0em 1em;
}
.page {
	display: none;	
	transition: all 2s ease-out;
}
.active {
	display: block;
}	
#left {
	float: left;
	border: 1px solid #aaa;
	text-align: center;
	margin: 2em 2em 1em 2em;
	box-shadow: 2px 4px 5px #aaa;
	width: 15%;
	background-color: white;
}
#canvas {
/* 	float: left; */
	margin: 2em 2em 1em 2em;
	border: 1px solid #aaa;
	box-shadow: 2px 4px 5px #aaa;
}
.content {
	float: left;
	position: relative;
	background-color: white;
	border: 1px solid #aaa;
	margin: 2em 2em 2em 3em;
	box-shadow: 2px 4px 5px #aaa;
	width: 25%;
	transition: all 0.8s ease-out;
}
#right {
	float: left;
	border: 1px solid #aaa;
	margin: 2em 2em 1em 2em;
	box-shadow: 2px 4px 5px #aaa;
	width: 360px;
	height: 640px;
	background-size: contain;
	transition: all 0.8s ease-out;
	animation: pictures 6s infinite;	
}

@keyframes pictures {
	0% {
    background: url("../images/11.jpg") 0px 0px no-repeat, url("../images/22.jpg") 360px 0px no-repeat, url("../images/33.jpg") 360px 0px no-repeat; }
  33% {
    background: url("../images/11.jpg") -360px 0px no-repeat, url("../images/22.jpg") 0px 0px no-repeat, url("../images/33.jpg") 360px 0px no-repeat; }
  67% {
    background: url("../images/33.jpg") 0px 0px no-repeat, url("../images/22.jpg") -360px 0px no-repeat, url("../images/11.jpg") 0px 0px no-repeat; }
  100% {
    background: url("../images/33.jpg") 360px 0px no-repeat, url("../images/22.jpg") -360px 0px no-repeat, url("../images/11.jpg") 0px 0px no-repeat; } }
}
.content:hover + #right{
	transform: ;
}
.menu-vertical-list {
	z-index: 2;
	background-color: white;
	padding: 0px;
	
}
.menu-vertical-list li {
	position: relative;
	list-style-type: none;
}
.menu-vertical-list li ul {
	position: absolute;
	width: 99%;
	left: 100%;
	top: 0.3em;
	display: none;
	border: 1px solid #aaa;
	transition: all 0.3s ease-out;
}
.menu-vertical-list li li {
	float: none;
	width: 100%;
}
.menu-vertical-list li li a {
	width: 100%;
}
.menu-vertical-list li a {
	text-decoration: none;
	display: block;
	padding: 0.3em 0px;
}
.menu-vertical-list li a:hover {
	color: white;
}
.menu-vertical-list li a:active {
	color: black;
}
.menu-vertical-list li:hover {
	background-color: #9ababa;
}
.menu-vertical-list li:hover > ul {
	display: block;
}
#left:hover ~ #right {
	transform: scale(1.3) rotate(360deg);
}